.carousel-control-prev span.carousel-control-prev-icon,
.carousel-control-next span.carousel-control-next-icon
{
    color: red;
}

/* For the item panels zoom effect when hovered */
.zoom-container
{
    overflow: hidden;
    border-radius: 1rem;
}
.zoom-container img
{

    transition: transform 0.3s ease;
}
.zoom-container:hover img
{
    transform: scale(1.1);
}

/* GACHA */
#card-section div img
{
    transition: transform 0.3s ease;
}
#cards div:hover img
{
    transform: scale(1.1);
    cursor: pointer;
}
.chest-sprite
{
    width: 230px; height: 237px;
    background-image: url('assets/treasure_chest_sprite.png');
    background-repeat: no-repeat;

    transform: scale(1.5);
}
.chest-sprite-anim
{
    animation: chestAnim .5s steps(5) forwards;
}
@keyframes chestAnim
{
    0% { background-position-x: 0px;}
    100% { background-position-x: 100%;}
}
.flash-anim
{
    animation: flashAnim 1s ease-in forwards;
}
@keyframes flashAnim
{
    from{opacity: 0;}
    to{opacity: 1;}
}