
body
{
    background: url('assets/background.png');
    background-size: cover;
    /* background-color: #248550; */
    color: white;
}

.center-container
{
    display: grid;
    height: 90vh;

    /* Left column small, right column large */
    grid-template-columns: 1fr 8fr;

    /* Top row big, bottom row short bar */
    grid-template-rows: 1fr 90px;
}

/* Top Right (big area) */
.top-right 
{
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

/* Bottom Left */
.bottom-left 
{
    background: #9a9a9a;
    opacity: 0;
}

/* Bottom Right (dark footer) */
.bottom-right 
{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.center-container h1
{
    font-size: 55px;
}

#game-state
{
    font-size: 40px;
}

#start-button
{
    /* position: absolute; */
    width: auto; height: 80px;
    font-size: 20px;
    align-items: center; justify-content: center;
}
#start-button.selected
{
    background: gold;
    color: black;
    border-color: gold;
    transform: scale(1.1);
}

@media (max-width: 640px)
{
    .bottom-container .bet-btn
    {
        width: 130px; height: 60px;
    }
}

@media (max-width: 688px)
{

}

.bet-btn
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#bet1{ background-image: url("assets/100_BUTTON.png");}
#bet2{ background-image: url("assets/200_BUTTON.png");}
#bet3{ background-image: url("assets/500_BUTTON.png");}
#bet4{ background-image: url("assets/1000_BUTTON.png");}

.bet-btn.selected
{
    /* background: #74fc6a;
    color: black;
    border-color: #74fc6a; */
    border-color: #f0ff17;
    transform: scale(1.1);
}

#dealer-card-count
{
    margin-bottom: 50px;
}

#player-card-count
{
    margin-top: 50px;
}

#gold-text
{
    font-size: 35px;
    color: #ffd848;
}

.top-left button
{
    font-size: 30px;
}
.bottom-right .main-btn
{
    width: 150px; height: 70px;
}

.top-left .bet-btn
{
    width: 150px; height: 70px;
}

.player-card
{
    width: auto; height: 250px;
    animation: playerCardSpawnAnimation 0.3s ease forwards;
}

@keyframes playerCardSpawnAnimation
{
    0%
    {
        transform: scale(1.5);
        opacity: 0;
    }
    100%
    {
        transform: scale(1);
        opacity: 1;
    }
}

#customCursor
{
    position: fixed;
    pointer-events: none;
    z-index: 10000;
    width: 190px; height: auto;
    transform: translate(-100%, -80%);
    display: none;
}

#hit-btn
{
    background-image: url("assets/HIT_BUTTON.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#stand-btn
{
    background-image: url("assets/STAND_BUTTON.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
